/* Check out the specificity (calculated weight) of the selector by hovering over it. */

/* Element Selectors */
body {
    background-color: #d5f2ff;
    color: black
}

ul {
    background-color: #80008057;
}

main {
    background-color: #0042ff57
}

footer {
    background-color:#80008045;
}

a {
    color: #d5f2ff;
}
/* Multiple Element Selectors */
h1,
h2,
p {
  color: #4c2770;
}

/* we're going to override this style with the selector */
h1,
h2,
p {
  color: #003c81;
}


/* Descendant Selectors */
/* the h2 only in the footer */
footer h2 {
    color: #d5f2ff;
}

nav ul {
	background-color: #3340d4;
}

/* let's add a border with a property */
nav ul li {
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom-color: green;
    /* there's a shorthand for this */
    border-bottom: 2px dashed red
}


/* this can go to any number of descendants */

/* Pseudo Class Selector */
/* let's make the font weight bold when we hover over the nav links*/
nav ul li a:hover {
    color: green;
    font-weight: bold;
}



/* Class Selectors */


/* Descendant Combinator */
