/* google fonts
- Righteous
- Rethink
*/


body {
    font-size: 100%;
    font-family: "Rethink Sans", sans-serif;
    font-style: normal;
    background-color: #C08D62;
    /* background image a little later on */
    background-image: url('../img/bg-tile.png');
    /*
    a bit of a discussion about background-repeat
    -default is repeat
    - repeat-x goes and repeats horizontally
    - repeat-y repeats repeats vertically
    - no-repeat doesn't repeat at all.
    */
    background-repeat: no-repeat;
    /* Let's talk about background position
    you can explitly set the background position as
    shown below.
    */
    background-position: 61px 589px;
    /*
    Also you can set the background position via
    a description
    background-position: left top;
    background-position: right top;
    background-position: left center;
    background-position: left bottom;
    background-position: center bottom;

    and so on an soforth
    */
}


.container {
    width: 960px;
    margin: 0 auto;
}

/* add for each link and image
the inline block so that margins and paddings will respected
*/
a,
img {
    display: inline-block;
}

h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
}

h2 {
    font-family: "Righteous", sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: #98421F;
    padding-top: 19px;
}

h1 a {
    /* to remove the underline */
    text-decoration: none;
    color: #ffffff;
}

header nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

header nav a:hover {
    color: #EFDBAF;
}

/* Let's align our items and style the header some more */
header {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding holding alt on the hiking girl logo in figma
    is 10 top, 10 bottom, 14 left
    padding on the right holding alt on the checkmark  in figma
    is 32 to the right.
    */
    padding: 10px 32px 10px 14px;
}

/* flex everything in the header */
.icons,
.logo,
header ul {
    display: flex;
    align-items: center;
}

/* let's create the gaps */
.logo {
    column-gap: 20px;
}

.icons,
header nav ul {
    column-gap: 25px;
}

/* style the content of page in the main() */

section {
    background-color: orangered;
    /* two mins add the background, make the background size cover */
    background-image: url('../img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

/* let's push everthing to right
in figma you select the veil hold alt look on the left side
it'll 495
*/
main section {
    padding-left: 495px;
}

.veil {
    /* using "opacity" in an element modifies the entire elements
    opacity and that's not what we want here.

    So below we use an RGB value which includes opacity in the value.
    In figma when you right click the color on the "veil" you can select
    "RGB" instead of hex so you can have opacity as part of the color.
    */
    background-color: rgb(192, 141, 98, 0.2);
    padding-left: 48px;
}

.vertical-menu a {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #98421F;
    /* since the line height in figma is 45 and our font size
    our line height is going to be 45/18 = 2.5
    */
    line-height: 2.5;
}

/* style the button */
.book-now a {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #98421F;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 13px;
    padding: 4px 9px;
    /* distance to the bottom and distance to the text above in figma
    The way you do this in figma using ctrl and alt held together and
    hover over the specific elements
    */
    margin: 16px 0 86px 0;
}

