body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color: #374151;
    font-size: 18px;
    background-color: #F9FAFB;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* let's add the flex class */
.flex {
    display: flex;
    justify-content: space-between;
    /* the browser will distribute space evenly */
}


h1 {
    font-size: 53px;
    font-weight: normal;
    text-align: right;
}


header {
    background-color: #93C5FD;
    color: #F9FAFB;
    padding: 44px 0 37px 0;
    /* using flex here to take advantage of the justify-content property */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


header p {
    font-size: 24px;
    text-align: right;
}

/* forms */
.contact-form {
    width: 625px;
}

form {
    margin: 35px 0;
}

/* make the inputs on their own line we're going to add 7px to the bottom for spacing */
label {
    display: block;
    margin-bottom: 7px;
}

/* let's style the inputs */

input,
textarea {
    width: 583px;
    border: 1px solid #D1D5DB;
    border-radius: 3px;
    /* so it doesn't go over the icon lets add padding left */
    padding-left: 40px;
}

input {
    line-height: 48px;
}

/* Note you can change the size of a textarea in the bottom right of the it.
We're going to make it a fixed height and width
*/

textarea {
    min-height: 200px;
    max-height: 200px;
    min-width: 583px;
    max-width: 583px;
}

/* we're going to add the icons as a background
to the input because it's not necessary but it's a nice
to have*/


/* this is the single input in email */
.email input {
    background: url('../img/email.svg') no-repeat;
    background-position: left 7px top 12px;
}
/* this is the single input in name */
.name input {
    background: url('../img/profile.svg') no-repeat;
    background-position: left 7px top 12px;
}
/* this is the single input in phone */
.phone input {
    background: url('../img/phone.svg') no-repeat;
    background-position: left 7px top 12px;
}


.button {
    width: 209px;
    background-color: #60A5FA;
    color: #ffffff;
    padding-left: 0px;
    border-radius: 5px;
}

.button:hover {
    /* change our mouse to the hand  */
    cursor: pointer;
    background-color: #93C5FD
}

address {
    font-style: normal
}