body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    color: #374151;
    font-size: 18px;
    background-color: #F9FAFB;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* let's add the flex class */
.flex {
    display: flex;
    justify-content: space-between;
    /* the browser will distribute space evenly */
}


h1 {
    font-size: 53px;
    font-weight: normal;
    text-align: right;
}


header {
    background-color: #93C5FD;
    color: #F9FAFB;
    padding: 44px 0 37px 0;
    /* using flex here to take advantage of the justify-content property */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


header p {
    font-size: 24px;
    text-align: right;
}

/* forms */
.contact-form {
    width: 625px;
}

form {
    margin: 35px 0;
}

/* make the inputs on their own line we're going to add 7px to the bottom for spacing */
label {
    display: block;
    margin-bottom: 7px;
}

/* let's style the inputs */

input,
textarea {
    width: 583px;
    border: 1px solid #D1D5DB;
    border-radius: 3px;
}

input {
    line-height: 48px;
}