body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}


/* typography */
h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}


header {
    text-align: center;
    border-bottom: 5px solid #111;
    margin-top: 25px;
}
main {

    margin: 40px 0;
}

.online-workshops section,
.conferences section {
    border: 2px solid #bbb;

}

/* I want you
to create a class named "flex"
that's going to use flex for display, use flex-wrap and a gap of 20px
*/

.flex {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

/* add some margin to the top and bottom. */
.online-workshops div,
.conferences div {
    margin: 30px 0
}

/* Let's make the borders look like our wireframe */
.online-workshops section,
.conferences section {
    border: 2px solid #bbb;
    padding: 16px;
    /* let's add a box shadow property which has the following values:
    x-axis offset, y-axis offset, blur, color
    */
    box-shadow: 0 10px 12px #c5c5c5;
    /* if you want to round the borders you need to use border radius */
    border-radius: 10px;
}

/* I want you to calculate the width of the

.online-workshops section container so that they're side by side.

960px container - 20px gap = 920px
920px - 16px * 4 padding = 876px
876px - 2px * 4 border = 868
*/
.online-workshops section {
    width: 434px;
}

/*
I want you to calculate the width of the
.conferences section
so that there's 3 across

960px container - 20px * 2 = 920px
920px - 16px *6 = 824px
824px - 2px*6 = 812px


*/
.conferences section {
    width: 270.66666px;
}
