body {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    margin: 25px 0;
}
.lake-vacations {
    margin-bottom: 25px;
}

/* create a declaration selecting a class named flex
displays flex
gap 20px
uses flex wrap

wrap the section in a div in the html add the class to it.

*/