body {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    margin: 25px 0;
}
.lake-vacations {
    margin-bottom: 25px;
}

/* create a declaration selecting a class named flex
displays flex
gap 20px
uses flex wrap

wrap the section in a div in the html add the class to it.

*/
.flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* select every section in the element with the lake-vacations class. */
.lake-vacations section { /* a section inside of some element with the class lake-vacations*/
    border: 1px solid #000;
    padding: 18px;
    /*
    If I want three across what is the width?

    do the calculations.
    if I have three across
    Padding: 3*2(sides) * 18px = 108px
    gap: 2(gaps) * 20px = 40px
    Border: 3*2(sides) * 1 = 6px

    The width = (total width - padding - gap - border)/3
    width = (960-108-40-6)/3

    width = 268.666666667px

    In characters (the text) reserves spaces between letters.
    It's expecting a space after the last character in the paragraph.
    Width will vary depending on the font but we're going to round down to
    268px so that it fits

    */
    width: 268px;
}

/* I want to essentially add a class will make the width of the
last section span two columns we're going to do the math for this.

I'm going select this with "each section with class col-2"
*/
section.col-2 { /* this selects section with the class col-2 */
    background-color: #b2eae2;
    /* do the math to make this
    span two columns based on the above
    268*2 = 536px
    since we're only dealing with 2 elements we need to add some
    pixels back in that we subtracted above.
    + 1 gap = 20px
    + 1 (2sides) = 2px
    + 1 element padding (2sides) = 18*2px = 36px

    */
    width: 595px;
}

/* nth child sleectors

    let's select the third element and add a background color.
*/
.lake-vacations section:nth-child(3) {
    background-color: #dfdfdf;
}
/*
You can use even or odd to add these to elements
I'm oging apply to even add a lighter blue.
*/
.lake-vacations section:nth-child(even) {
    background-color: #b2cede;
}
/*

Note: if you click the color on chrome the "dropper" looks like a pen
You can get any color you want from your screen, just a handy tool when
you are working on assignments and such.

*/