
body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    background-color: #fff9f0;
}

.container {
    width: 960px;
    margin: 0 auto;
    /* line height changes the spacing between lines. Our reset has applied a 1.5 line height */
    line-height: 1.25;

}

h1,
h2,
li {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

header,
main,
footer {
    background-color: gainsboro;
    padding: 24px 0 24px 0;
    margin-bottom: 48px;
}

/*
CALCULATING CONTENT WIDTHS (LI):

Total width of each li should be 225px.

Each li will have the following properties and values:

Border of 2px (all around).
Padding of 16px (all around).
You'll need to specify a width.
total border width = 2px + 2px (on the left and right)
total padding width = 16px + 16px (on the left and right)
specify the width = 225 - total padding width - total border width

*/

li {
    background-color: ghostwhite;
    border: 2px solid slategray;
    padding: 16px;
    width: 189px;
}

/*
CALCULATING CONTENT WIDTHS (SECTIONS):

Total width of each section should be 900px.

Each section will have the following properties and values:

Border left of 10px (left only). You can use for styling: solid silver
Padding of 8px (all around).
Margin of 30px (all around).

total border = 10px
total padding = 8px + 8px (left and right)
total margin = 30px + 30px (left and right)
total width = 900 - border - padding

The width of the element doesn't not include the margin
But the width of the box (for the element) includes the margin.
*/

section {
    background-color: ghostwhite;
    border-left: 10px solid silver;
    padding: 8px;
    margin: 30px;
    width: 874px;
}

/*
CALCULATING CONTENT WIDTHS (DIV):

Total width of each footer div should be 320px.

Each div will have the following properties and values:

Border of 1px (all around).
Padding of 20px (all around).
Margin bottom of 12px (bottom only).
*/

footer div {
    background-color: ghostwhite;
    border: 1px solid slategray;
    padding: 20px;
    margin-bottom: 12px;
    width: 278px;
}
