body {
    font-size: 100%;
    /* rgb color palette */
    background-color: rgb(255, 255, 255);
    font-family: verdana, geneva, sans-serif;
}
.container {
    width: 960px;
    margin: 0 auto;
}


/*typography*/

h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
   /* shorthand - 2 values: Top & Bottom (first value). Right & Left (second value). This applies 25px padding to top and bottom only */
    padding: 25px 0;
}

/*layout*/
main {
    background-color: rgb(204, 204, 204);
    padding: 20px;
}

footer {
    background-color: rgb(204, 204, 204);
    padding: 20px;
    margin-top: 25px;
}

/*classes*/

/* Create a flex class which will be applied to the parents */
.flex {
    display: flex;
}

/*calculating 2 Boxes:*/
/* Let's do some width calculations
padding on main 20px left and right.
margin on the right box of 20px
usable width = 960 - 40px (padding of main) - 20px (margin of right box)
above equal 900
we have two boxes so 900/2 is 450 for the width.
*/
.red-paint {
    background-color: red;
    height: 300px;
    width: 450px;
    margin-right: 20px;
}

.blue-paint {
    background-color: blue;
    height: 300px;
    width: 450px;
}


/*calculating 3 Boxes:*/
/*
    add the flex to the parent on the html
    calculate the width of box
    create the declaration for the yellow, green and orange boxes.

    let's calculcate width based on 960 which is the width of the container
    960 - the margin on both sides of the main of 20px = 920px
    margin of between the items 20px

*/

.green-paint {
    background-color: rgb(81, 238, 81);
    height: 150px;
}

.yellow-paint {
    background-color: rgb(241, 219, 19);
    height: 150px;
}

.orange-paint {
    background-color: rgb(245, 174, 44);
    height: 150px;
}


/*calculating 4 Boxes:*/







