/* Find out the specificity (calculated weight) of the selector by hovering over it. */


/* Element Selectors */
/* the specificity weight of this element is 1 ! */
body {
    background-color: rgb(143, 55, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);

    margin: 0;
    padding: 0;
    /* MARGIN: pushes an elements away from other elements.
     PADDING: goes around an element and creates whitespace around the element.
    NOTE: if the value is zero we do not have to indicate a measurement type (px)  */


}

h1 {
    text-transform: uppercase;
    color: rgb(247, 173, 55);
    border-bottom: 4px solid rgb(232, 108, 0);
    padding: 48px;

    /*

    There are 4 values that could be applied:
    padding-top, padding-right, padding-bottom, padding-left.

    If we use only one value, it applies it to all 4 sides. You can also use shorthand: The order is always top-right-bottom-left (clockwise).
    Example: padding: 48px 48px 48px 48px; */
}

h2 {
    font-size: 25px;
    padding: 5px 0 5px 0;
}

ul {
    color: rgb(67, 44, 7);
    list-style-type: square;
    width: 500px;
}

/* Multiple Element Selector*/


/* Class Selectors */


/* Descendant Selectors */


/* Pseudo-class Selector */

