/*
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-weight: 900;
  font-style: normal;

  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-style: normal;

 */
body {
    font-size: 100%;
    background-color: #FFFFFF;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 960px;
    margin: 0 auto;

}

/* *************** typography ************** */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #F5F5F5;
    text-align: right;

}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #76A10C;
    margin: 24px;


}

/* ************** header ************** */
header {
    /* you'll add a background color first in case the image doesn't load */
    background-color: #00bc2f;
    /* let's add the background image here. */
    background-image: url('../img/banner-bg.jpg');
    /* specify that it's no repeat */
    background-repeat: no-repeat;

    /* padding 16 top, 30 left, 54 from the right, 21 from the bottom. */
    padding: 16px 54px 21px 30px;

    margin-bottom: 50px;
}

/* if you use inline block it allows to a width and height on the element */
img {
    display: inline-block;
}

/* on the header image we're going to add a margin bottom */
header img {
    margin-bottom: 288px;
}

.flex {
    display: flex;
    gap: 30px;
}

section {
    width: 300px;
}

section p {
    font-size: 16px;

}

main {
    margin-bottom: 100px;
}