body {
    font-size: 100%;
    background-color: #ffffff;
    /* associate one font family to the body element. */

}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Header section */
header {
    background-color: #92BEBF;
    display: flex;
    margin-bottom: 20px;
}
/* contains the text in the header */
header div {
    padding: 90px 0 0 50px;
    color: #ffffff;
}

/* change the typography */
h1 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 45px;
}

/* Let's change the paragraph */
header p {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #ECE9E9;
    font-size: 24px;
}

/* sections */
section {
    display: flex;
    background-color: #fffbeb;
    /* top right bottom left */
    padding: 60px 151px 60px 30px;
    margin-bottom: 43px;
    gap: 24px;
}

.flex {
    display: flex;
    gap: 20px;
}
/* let's select the first title */
section h2:nth-child(1) {
    color: #01B3B8;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 36px;
}

/*
For the paragraphs in a seciton I want you make the text lora.
Using your knowledge of google fonts.
*/