body {
    background-color: #ead9a8;
    font-size: 100%;
    /* This will render as 16px as it is the default font size on most browsers */
    /* add the paragraph font (Merriweather) to the body element so all elements inherit it  */
    font-family: "Merriweather", serif;

}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Typography */
h1 {
    font-size: 81px;
    color: #9c1c21;
    font-family: 'Work Sans';
    /* add the font weight */
    font-weight: 700;
    /* align the text to the middle */
    text-align: center;
    margin-bottom: 24px;
}


